In [1]:
import pandas as pd
import sqlite3

In [6]:
conn=sqlite3.connect("../SQLiteDB/Data_Science_Salary_DB.sqlite")

## Data Cleaned 2021 CSV

In [9]:
df=pd.read_csv("../data_cleaned_2021.csv",index_col=0)
# df.head()

In [7]:
df.to_sql('data_cleaned_2021', conn, if_exists='replace', index=False)

c:\Users\petec\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [10]:
# pd.read_sql('select * from data_cleaned_2021', conn)