In [5]:
import datetime as dt
import numpy as np
import pandas as pd
from config import db_password
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify, render_template

In [6]:
engine = create_engine(f"postgresql://postgres:{db_password}@database-1.c8vbe2aqcoj9.us-west-1.rds.amazonaws.com/datasciencesalary")
Base = automap_base()
Base.prepare(engine, reflect=True)
# Measurement = Base.classes.measurement
# Station = Base.classes.station
session = Session(engine)
print(Base.classes.salary_2012)

<class 'sqlalchemy.ext.automap.salary_2012'>

In [7]:
from sqlalchemy import inspect


inspector = inspect(engine)
inspector.get_table_names()

['salary_2012',
 'salary_2013',
 'salary_2014',
 'salary_2015',
 'salary_2016',
 'salary_2017',
 'salary_2018',
 'salary_2019',
 'salary_2020',
 'salary_2021',
 'salary_2012_2021']

In [8]:
columns = inspector.get_columns("salary_2012_2021")
for column in columns:
    print(column['name'])

state
occupation
total_employees
hourly_mean
annual_mean
hourly_median
annual_median
year

In [9]:
conn = engine.connect()

In [10]:
salary_mergeddf = pd.read_sql("select * from salary_2012_2021", conn)
salary_mergeddf.head()

,state,occupation,total_employees,hourly_mean,annual_mean,hourly_median,annual_median,year
0,Alabama,Accountants and Auditors,14090,31.71,65960,29.37,61080,2014
1,Alabama,Accountants and Auditors,14180,30.73,63910,28.31,58890,2013
2,Alabama,Accountants and Auditors,14290,30.45,63340,28.02,58270,2012
3,Alabama,Accountants and Auditors,14840,32.23,67040,29.38,61110,2015
4,Alabama,Accountants and Auditors,15360,32.57,67750,29.75,61890,2016

In [19]:
pd.read_sql("select distinct state from salary_2012_2021 ", conn).to_json()

'{"state":{"0":"Kansas","1":"Texas","2":"Oregon","3":"Idaho","4":"Alaska","5":"Alabama","6":"Oklahoma","7":"North Carolina","8":"Colorado","9":"Mississippi","10":"Florida","11":"Virgin Islands","12":"Vermont","13":"Delaware","14":"Nevada","15":"Louisiana","16":"New York","17":"Guam","18":"West Virginia","19":"South Carolina","20":"New Jersey","21":"New Mexico","22":"Hawaii","23":"Arkansas","24":"Missouri","25":"Connecticut","26":"South Dakota","27":"District of Columbia","28":"Iowa","29":"Indiana","30":"Massachusetts","31":"Rhode Island","32":"Ohio","33":"Michigan","34":"Minnesota","35":"Pennsylvania","36":"Washington","37":"Wisconsin","38":"Montana","39":"Kentucky","40":"Arizona","41":"Illinois","42":"Virginia","43":"Maryland","44":"Puerto Rico","45":"Georgia","46":"Wyoming","47":"Utah","48":"New Hampshire","49":"North Dakota","50":"Nebraska","51":"Maine","52":"California","53":"Tennessee"}}'